/*
:root {
    --dark-color: #222831;
    --grey-color: #393E46;
    --blue-color: #00ADB5;
    --white-color: #EEEEEE;
}
*/

body {
    background-color: #222831;
    color: #EEEEEE;
}

ul {
    padding-left: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}